BOT_TOKEN=
PORT=3000
WEBHOOK_SECRET=chiikawa_secret
AUTO_INTERVAL_MS=60000
OPENAI_API_KEY=
ADMIN_SECRET=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_PRIVATE_KEY_BASE58=
JUP_API_KEY=
GMGN_API_KEY=
GMGN_BASE_URL=
DEFAULT_COPYTRADE_LEADER=
WALLET_TRADER_MAIN=
WALLET_RUNNER=
WALLET_COPY_1=
WALLET_COPY_2=
